# ignore pycache
__pycache__/
*.pyc

# ignore virtual environment
venv/

# ignore log files
*.log

# ignore os files
.DS_Store

# ignore service files
*.service

# ignore config
utilities/config.py

# ignore workspace xml files
workspace.xml

# ignore backend and frontend directory
backend_and_frontend/